name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-with-msbuild:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
    - name: Restore dependencies
      working-directory: C#
      run: dotnet restore fft-benchmark.csproj
    - name: Build
      working-directory: C#
      run: dotnet build --no-restore fft-benchmark.csproj

  build-with-make:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
    - name: Build
      working-directory: C#
      run: make

  package-deb:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
    - name: Build
      working-directory: C#
      run: make
    - name: Create a package
      working-directory: C#
      run: make package
    - name: Publish artifact
      uses: actions/upload-artifact@v4.6.0
      with:
        name: fft-benchmark
        path: C#/*.deb
        retention-days: 3
        overwrite: true
